/core/public/assets/front/content
/core/public/assets/front.zip
/assets
agwiki_site.sql
/core/public/testfile1.html
/core/public/testfile3.html
/core/public/cookie.txt
/core/public/*
core/public/*
core/public/cookie.txt
core/public/testfile*.html
/core/public/cookie.txt
/core/public/testfile*.html
# Exception: ONLY allow the new_icons directory
!/core/public/assets/front/img/new_icons/
!/core/public/assets/front/img/new_icons/**
# Exception: ONLY allow the new_icons directory
!/core/public/assets/front/img/new_icons/
!/core/public/assets/front/img/new_icons/**
